nav {
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 100;
}
.cart-label {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}
